.container{
  text-align: center;
  width: auto;
  height: 100%;
  max-width: 800px;
  padding:0px 15px;
}

.header{
  padding-top: 55px;
  margin-bottom: 60px;
}

.content{
  margin-top: 60px;
}

.btn {
  height: fit-content;
  width: 150px;
  margin: 5px;
  font-size: large;
}

img{
  margin: 5px;
}

.imageRules {
  width: 320px;
  height: 240px;
  height: auto;
}

.startGameButton{
  width: 200px;
  height: 80px;
  font-size: x-large;
  margin-bottom: 60px;
}


